@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400&display=swap');
  
  * {
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background-color: #E5E5E5;
  }

  ion-icon{
    display: none;
    color: #32B72F;
    font-size: 19px;
    position: absolute;
    right: 6px;
    bottom: 9px;
  }

  .menu-superior {
    width: 100%;
    height: 92px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    left: 0px;
    top: 0px;

    z-index: 1;
  }

  .menu-superior > div {
    margin-left: 21px;
  }
 
  h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    
    color: #FFFFFF;
  }

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
  }

  h3 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-top: 27px;
    margin-bottom: 17px;
    padding-left: 21px;
    
    color: #333333;
  }

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
  }

  h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;
  }

  h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;

    color: #000000;

  }

  .hub {
    width: 100%;
    background-color: #E5E5E5;
    margin-top: 123px;
    padding-bottom: 108px;
  }

  .pratos ,.bebidas ,.doces{
    width: 100%;
    padding-left: 21px;

    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:16px;
  }

  .box-pedidos {
    width: 172px;
    height: 216px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top: 18px;
    padding-left: 14px;
    padding-right:14px;
    padding-left:14px;

    position:relative;

    display:flex;
    flex-direction: column;
    justify-content:space-between ;
  }

  img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
  }

  .selecionar-pedido{
    width: 100%;
    height: 92px;
    background: #FFFFFF;

    display:flex;
    justify-content:center;
    align-items: center;

    position: fixed;
    left: 0px;
    bottom: 0px;

    z-index: 1;

  }

  .selecionado{
    border: 4px solid green;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: -9px;
 }
 
  .selecionado ion-icon{ 
   display: initial;
 }

  .fecharpedido{
    background-color: green;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
  }

button{
  
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    border: none;
}